<div class="container">
    <form #loginForm = "ngForm" (ngSubmit) = "onSubmit()">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required 
        [(ngModel)] = "user.email" #email="ngModel">

        <div *ngIf = "email.touched && !email.valid" class="alert alert-danger">
            <p *ngIf = "email.errors && email.errors['required']">Email is required</p>
        </div>

        <label>Password</label>
        <input type="password" name="password" class="form-control mb-3" required 
        [(ngModel)] = "user.password" #password="ngModel" minlength="6">
        <div *ngIf = "password.touched && !password.valid" class="alert alert-danger">
            <p *ngIf = "password.errors && password.errors['required']">Password is required</p>
            <p *ngIf = "password.errors && password.errors['minlength']">Password should be 6 characters long</p>
        </div>

        <button class="btn btn-primary" type="submit" [disabled] = "!loginForm.valid">Submit</button>
    </form>


</div>
