<div class="container">

    <table class="table table-striped">
        <thead>
            <th>Id</th>
            <th>Author</th>
            <th>Name</th>
            <th>View</th>
        </thead>

        <tbody>
            <tr *ngFor = "let course of courses">
                <td>{{course.id}}</td>
                <td>{{course.author}}</td>
                <td>{{course.name}}</td>
                <td><a routerLink = "/course-details/{{course.id}}">Details</a></td>
            </tr>
        </tbody>
    </table>
</div>
